model.h5
wandb/
.idea
checkpoint
checkpoints/
.devcontainer/.env
src/__pycache__
src/checkpoint*
src/checkpoints
mlflow/
mlruns/
.env
.vscode/
/metrics.yaml
__pycache__/
pipeline/gloves_pipeline.tar.gz
/outputs/*
/last_build.log
/siamese_logs
siamese_logs.html
encoder_frozen/acc.tsv
encoder_frozen/auc.tsv
encoder_frozen/loss.tsv
encoder_frozen/lr.tsv
encoder_frozen/precision.tsv
encoder_frozen/recall.tsv
encoder_frozen/val_acc.tsv
encoder_frozen/val_auc.tsv
encoder_frozen/val_loss.tsv
encoder_frozen/val_precision.tsv
encoder_frozen/val_recall.tsv
encoder_unfrozen/acc.tsv
encoder_unfrozen/auc.tsv
encoder_unfrozen/loss.tsv
encoder_unfrozen/lr.tsv
encoder_unfrozen/precision.tsv
encoder_unfrozen/recall.tsv
encoder_unfrozen/val_acc.tsv
encoder_unfrozen/val_auc.tsv
encoder_unfrozen/val_loss.tsv
encoder_unfrozen/val_precision.tsv
encoder_unfrozen/val_recall.tsv
imagenet_frozen/acc.tsv
imagenet_frozen/auc.tsv
imagenet_frozen/loss.tsv
imagenet_frozen/lr.tsv
imagenet_frozen/precision.tsv
imagenet_frozen/recall.tsv
imagenet_frozen/val_acc.tsv
imagenet_frozen/val_auc.tsv
imagenet_frozen/val_loss.tsv
imagenet_frozen/val_precision.tsv
imagenet_frozen/val_recall.tsv
imagenet_unfrozen/acc.tsv
imagenet_unfrozen/auc.tsv
imagenet_unfrozen/loss.tsv
imagenet_unfrozen/lr.tsv
imagenet_unfrozen/precision.tsv
imagenet_unfrozen/recall.tsv
imagenet_unfrozen/val_acc.tsv
imagenet_unfrozen/val_auc.tsv
imagenet_unfrozen/val_loss.tsv
imagenet_unfrozen/val_precision.tsv
imagenet_unfrozen/val_recall.tsv
