model.h5
wandb/
.idea
checkpoint
checkpoints/
.devcontainer/.env
src/__pycache__
src/checkpoint*
src/checkpoints
mlflow/
mlruns/
.env
.vscode/
/metrics.yaml
__pycache__/
pipeline/gloves_pipeline.tar.gz
/outputs/*
/last_build.log
/siamese_logs/
siamese_logs.html
encoder_frozen/
encoder_unfrozen/
imagenet_frozen/
imagenet_unfrozen/
