icecream
mlflow
numpy
click
#kubernetes
#botocore
Pillow
pytest
PyYAML
scikit_learn
siamese==0.0.38
dvclive==0.0.8
dvc[s3]
pygtrie==2.3.2
tensorflow_addons==0.13.0
tensorflow==2.6.0
pathlib
pandas
wandb