numpy==1.19.5
kubernetes==11.0.0
kfp
botocore==1.19.57
streamlit==0.74.1
tensorflow==2.4.0
tensorflow_addons==0.10.0
click==7.1.2
siamese==0.0.33
boto3==1.16.57
mlflow==1.13.1
icecream==2.1.0
docker_py==1.10.6
Pillow==8.2.0
pytest==6.2.3
PyYAML==5.4.1
redis==3.5.3
scikit_learn==0.24.1
