icecream==2.1.0
mlflow==1.13.1
numpy==1.19.5
click==7.1.2
kubernetes==11.0.0
botocore==1.19.57
Pillow==8.2.0
pytest==6.2.3
PyYAML==5.4.1
scikit_learn
siamese
dvclive
dvc
boto3
tensorflow_addons
tensorflow
pathlib
